@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a:visited {
    color: crimson;
}

a:hover {
    color: whitesmoke;
}

#horizon li {
    display: inline;
    padding: 50px;
}

#horizon {
    font-family: 'Oswald', sans-serif;
}

.nav_header {
    margin-top: 35px;
}

.frog_header {
    display: block;
    background-size: 0em;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background: linear-gradient(#5d5e5b, #8c8f88, #8c8f88);
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
}

.container_sections {
    margin-top: 15px;
}

.container_banner {
    display: flex;
    flex-direction: column;
    border-bottom: 0.3em solid black;
    border-top: 0.3em solid black;
}

.container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_footer {
    display: flex;
    flex-direction: row;
}

.ban_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.first_sec {
    border-bottom: solid #8c8f88 0.2em;
    background: linear-gradient(#5d5e5b, #8c8f88, #9a9e97);
    color: white;
}

#article_1 {
    font-weight: bold;
    text-align: justify;
    border-top: solid #8c8f88 0.2em;
    padding-top: 15px;
}

.article_flex {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

#article_2 {
    font-weight: bold;
    text-align: justify;
    color: white;
    width: 700px;
    height: 215px;
    margin-left: 10px;
}

#article_3 {
    font-weight: bold;
    text-align: justify;
    color: white;
    width: 700px;
    height: 215px;
    margin-right: 10px;
}

.titre_h2 {
    color: white;
    text-align: center;
    background-color: #e69c91;
    font-family: 'Chivo', sans-serif;
    ;
}

#p_exclusive {
    font-size: 30px;
    text-align: center;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cash_banner {
    position: relative;
}

.section3 {}