@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a:visited {
    color: green;
}

a:hover {
    color: whitesmoke;
}

#horizon li {
    display: inline;
    padding: 50px;
}

#horizon {
    font-family: 'Oswald', sans-serif;
}

.nav_header {
    margin-top: 35px;
}

.frog_header {
    display: block;
    padding-left: 10px;
}

.container_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background: linear-gradient(#e3e3e3, #c9c5c5);
    border: solid 0.1em black;
}

.container_sections {
    margin-top: 15px;
}

.container_banner {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1em solid black;
    border-top: 0.1em solid black;
}

.ban_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.first_sec {
    border-bottom: solid #8c8f88 0.1em;
    color: black;
    background: linear-gradient(#e3e3e3, #c9c5c5);
}

#article_1 {
    font-weight: bold;
    text-align: justify;
    border-top: solid #8c8f88 0.1em;
    padding-top: 15px;
}

.article_flex {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

#article_2 {
    font-weight: bold;
    text-align: justify;
    color: black;
    width: 700px;
    height: 215px;
    margin-left: 10px;
}

#article_3 {
    font-weight: bold;
    text-align: justify;
    color: black;
    width: 700px;
    height: 215px;
    margin-right: 10px;
}

#titre_h2 {
    color: white;
    text-align: center;
    background-color: #e69c91;
    font-family: 'Chivo', sans-serif;
    ;
}

#p_exclusive {
    font-size: 30px;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    background-color: white;
    width: 1150px;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}

.cash_banner {
    position: inherit;
    display: flex;
    flex-direction: column;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -600px;
    margin-left: 250px;
    background-color: white;
    position: relative;
    height: 450px;
    width: 1400px;
    align-items: center;
}

#section3 {
    margin-top: 60px;
}

p {
    text-align: center;
    color: brown;
}

#drumkit_background {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    position: relative;
}

#drumkit_imgs {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
}

#drumkit_package {
    position: sticky;
    width: 100%;
    left: 0;
}

.container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(#e3e3e3, #c9c5c5);
    border: solid 0.1em black;
}

.social_footer {
    display: flex;
    flex-direction: row;
}